{% include head.html %}

<div class="header">
	<header class="hidden-xs hidden-print" >
		<div class="container">
			<div class="row">
				<div class="col-lg-6"></div>
				<div class="col-lg-6 text-right">
					<ul class="list-inline">
						<li></li>
					</ul>
				</div>
			</div>
		</div>

		<div class="logo hidden-sm">
			<img src="http://s.gravatar.com/avatar/c38302b0bb350e343e46e9ec97c2e639?s=256" alt="logo" />
		</div>
	</header>

	<!--nav class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#oo-g-navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button>
			</div>

			<div class="collapse navbar-collapse" id="oo-g-navbar-collapse">
				<ol class="nav navbar-nav">
					<li><a href="#">archive</a></li>
					<li><a href="#">tags</a></li>
					<li><a href="#">about</a></li>
				</ol>

				<ul class="nav navbar-nav navbar-right">
					<li><a href="#"><i class="fa fa-pencil-square-o"></i> blog</a></li>
					<li><a href="#"><i class="fa fa-file-text-o"></i> wiki</a></li>
				</ul>
			</div>
		</div>
	</nav-->
</div>

<div class="content">